
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Admin Panel</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Le styles -->
    <link href="../bootstrap/css/bootstrap.css" rel="stylesheet">
    <link href="../bootstrap/css/font-awesome.css" rel="stylesheet">
    <link href="../resource/css/style.css" rel="stylesheet">
    <link rel="stylesheet" href="../bootstrap/css/bootstrap-image-gallery.min.css">
    <link rel="stylesheet" href="../resource/upload/css/jquery.fileupload-ui.css">
    <style type="text/css">
        body {
            padding-top: 60px;
            padding-bottom: 40px;
            background-image: url("../resource/img/bg.png");
        }
        .sidebar-nav {
            padding: 9px 0;
        }
    </style>
    <link href="../bootstrap/css/bootstrap-responsive.min.css" rel="stylesheet">

    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
    <script src="../bootstrap/js/html5.js"></script>
    <![endif]-->

    <!-- Le fav and touch icons -->
    <link rel="shortcut icon" href="../bootstrap/ico/favicon.ico">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="../bootstrap/ico/bootstrap-apple-114x114.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="../bootstrap/ico/bootstrap-apple-114x114.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="../bootstrap/ico/bootstrap-apple-72x72.png">
    <link rel="apple-touch-icon-precomposed" href="../bootstrap/ico/bootstrap-apple-57x57.png">

    <script type="text/javascript" src="../bootstrap/js/jquery.js"></script>
    <script type="text/javascript" src="../bootstrap/js/bootstrap.js"></script>

</head>

<body>

<div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container-fluid">
            <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </a>
            <a class="brand" href="#">Complete Admin</a>

            <div class="nav-collapse">
                <ul class="nav">
                    <li class="divider-vertical"></li>
                    <li><a href="#"><i class="icon-comments-alt"></i> <span class="label label-important">3</span></a>
                    </li>

                    <li><a href="#"><i class="icon-envelope"></i> <span class="label label-important">3 new</span></a>
                    </li>

                    <li><a href="#"><i class="icon-refresh"></i> <span class="label label-info">3 updates</span></a>
                    </li>

                </ul>
                <ul class="nav pull-right">
                    <li>
                        <form class="navbar-search pull-left" action="">
                            <input type="text" class="search-query span2" placeholder="Search">
                        </form>
                    </li>
                    <li class="divider-vertical"></li>
                    <li>
                        <ul class="nav">
                            <li class="dropdown">
                                <a href="#"
                                   class="dropdown-toggle"
                                   data-toggle="dropdown">
                                    <i class="icon-user"></i> Username
                                    <b class="caret"></b>
                                </a>
                                <ul class="dropdown-menu">

                                    <li>
                                        <div style="width: 314px">
                                            <div class="modal-header">

                                                <h3>Username - Administrator</h3>
                                            </div>
                                            <div class="modal-body">
                                                <div class="row-fluid">
                                                    <div class="span3">
                                                        <img src="../resource/img/defaultPhoto.png" alt="" class="thumbnail span12">
                                                    </div>
                                                    <div class="span9">
                                                        <a href="#"><i class="icon-cogs"></i> Settings Account</a>
                                                        <a href="#"><i class="icon-cogs"></i> Settings Privacy</a>
                                                    </div>
                                                </div>

                                            </div>
                                            <div class="modal-footer">

                                                <button href="#" class="btn btn-primary"><i class="icon-off"></i> Log Out</button>
                                            </div>
                                        </div>

                                    </li>

                                </ul>
                            </li>
                        </ul>
                    </li>
                </ul>

            </div>
            <!--/.nav-collapse -->
        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="row-fluid">
        <div class="span2">
            <div class="row-fluid">
                <div class="span6">
                    <img src="../resource/img/160x120.gif" alt="" class="span12 thumbnail">
                </div>
                <div class="span6">
                    <h6>username</h6>
                    <a href="#">Profile</a>|<a href="../index.html">Logout</a>
                </div>
            </div>
            <br>
            <div class="well sidebar-nav">
                <ul class="nav nav-list">
                    <li>
                        <div class="accordion" id="accordian2">
                            <div class="accordion-group">
                                <div class="accordion-heading">
                                    <a style="text-decoration: none;text-align: left" class="accordion-toggle btn" href="dashboard.html">
                                        <i class="icon-home icon-white"></i><span> Dashboard</span>
                                    </a>
                                </div>

                            </div>

                            <div class="accordion-group">
                                <div class="accordion-heading">
                                    <a style="text-decoration: none;text-align: left" class="accordion-toggle btn" href="tables.html">
                                        <i class="icon-list-alt"></i><span> Tables</span>
                                    </a>
                                </div>

                            </div>
                            <div class="accordion-group">
                                <div class="accordion-heading">
                                    <a style="text-decoration: none;text-align: left" class="accordion-toggle btn" href="element.html">
                                        <i class="icon-tasks"></i><span> Elements</span>
                                    </a>
                                </div>

                            </div>
                            <div class="accordion-group">
                                <div class="accordion-heading">
                                    <a style="text-decoration: none;text-align: left" class="accordion-toggle btn btn-danger" href="media.html">
                                        <i class="icon-picture"></i><span> Media</span>
                                    </a>
                                </div>

                            </div>
                            <div class="accordion-group">
                                <div class="accordion-heading">
                                    <a style="text-decoration: none;text-align: left" class="accordion-toggle btn" href="forms.html">
                                        <i class="icon-align-center"></i><span> Forms</span>
                                    </a>
                                </div>

                            </div>
                            <div class="accordion-group">
                                <div class="accordion-heading">
                                    <a style="text-decoration: none;text-align: left" class="accordion-toggle btn" href="grid.html">
                                        <i class="icon-indent-left"></i><span> Grid</span>
                                    </a>
                                </div>

                            </div>

                            <div class="accordion-group">
                                <div class="accordion-heading">
                                    <a style="text-decoration: none;text-align: left" class="accordion-toggle btn" href="button.html">
                                        <i class="icon-gift"></i><span> Buttons </span>
                                    </a>
                                </div>

                            </div>
                            <div class="accordion-group">
                                <div class="accordion-heading">
                                    <a style="text-decoration: none;text-align: left" class="accordion-toggle btn" href="notification.html">
                                        <i class="icon-info-sign"></i><span> Notification</span>
                                    </a>
                                </div>

                            </div>
                            <div class="accordion-group">
                                <div class="accordion-heading">
                                    <a style="text-decoration: none;text-align: left" class="accordion-toggle btn" href="calendar.html">
                                        <i class="icon-calendar"></i><span> Callendar</span>
                                    </a>
                                </div>

                            </div>
                            <div class="accordion-group">
                                <div class="accordion-heading">
                                    <a style="text-decoration: none;text-align: left" class="accordion-toggle btn" href="chat.html">
                                        <i class="icon-comment"></i><span> Chat</span>
                                    </a>
                                </div>

                            </div>

                            <div class="accordion-group">
                                <div class="accordion-heading">
                                    <a style="text-decoration: none;text-align: left" class="accordion-toggle btn" href="chart.html">
                                        <i class="icon-bar-chart"></i><span> Charts</span>
                                    </a>
                                </div>

                            </div>



                        </div>

                    </li>

                </ul>
            </div><!--/.well -->
        </div><!--/span-->
        <div class="span10">
            <div class="row-fluid">
                <ul class="breadcrumb pull-right">
                    <li><a href="#">Media</a> <span class="divider">/</span></li>
                    <li><a href="#">Home</a> <span class="divider">/</span></li>


                </ul>
            </div>
            <div class="accordion" id="accordionMedia1">
                <div class="accordion-group">
                    <div class="accordion-heading">
                        <a style="text-align: left;text-decoration: none" class="accordion-toggle btn btn-danger"
                           data-toggle="collapse" data-parent="#accordion2" href="#collapseMedia1">
                            <i class="icon-list-alt"></i>  Image Gallery <i class="icon-minus pull-right"></i>
                        </a>
                    </div>
                    <div id="collapseMedia1" class="accordion-body collapse in">
                        <div class="accordion-inner" style="background-color: #ffffff;">
                            <div class="container-fluid well">
                                <header>

                                    <p>
                                        <button id="start-slideshow" class="btn btn-large btn-success" data-slideshow="5000" data-target="#modal-gallery" data-selector="#gallery a[rel=gallery]">Start Slideshow</button>
                                        <button id="toggle-fullscreen" class="btn btn-large btn-primary" data-toggle="button">Toggle Fullscreen</button>
                                    </p>
                                </header>
                                <div id="gallery" data-toggle="modal-gallery" data-target="#modal-gallery"></div>
                                <br>
                            </div>
                            <!-- modal-gallery is the modal dialog used for the image gallery -->
                            <div id="modal-gallery" class="modal modal-gallery hide fade">
                                <div class="modal-header">
                                    <a class="close" data-dismiss="modal">&times;</a>
                                    <h3 class="modal-title"></h3>
                                </div>
                                <div class="modal-body"><div class="modal-image"></div></div>
                                <div class="modal-footer">
                                    <a class="btn modal-download" target="_blank">
                                        <i class="icon-download"></i>
                                        <span>Download</span>
                                    </a>
                                    <a class="btn btn-success modal-play modal-slideshow" data-slideshow="5000">
                                        <i class="icon-play icon-white"></i>
                                        <span>Slideshow</span>
                                    </a>
                                    <a class="btn btn-info modal-prev">
                                        <i class="icon-arrow-left icon-white"></i>
                                        <span>Previous</span>
                                    </a>
                                    <a class="btn btn-primary modal-next">
                                        <span>Next</span>
                                        <i class="icon-arrow-right icon-white"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

            <div class="accordion" id="accordionMedia2">
                <div class="accordion-group">
                    <div class="accordion-heading">
                        <a style="text-align: left;text-decoration: none" class="accordion-toggle btn btn-danger"
                           data-toggle="collapse" data-parent="#accordion2" href="#collapseMedia2">
                            <i class="icon-list-alt"></i> File Upload <i class="icon-minus pull-right"></i>
                        </a>
                    </div>
                    <div id="collapseMedia2" class="accordion-body collapse in">
                        <div class="accordion-inner" style="background-color: #ffffff;">
                            <div class="container">

                                <!-- The file upload form used as target for the file upload widget -->
                                <form id="fileupload" action="server/php/" method="POST" enctype="multipart/form-data">
                                    <!-- The fileupload-buttonbar contains buttons to add/delete files and start/cancel the upload -->
                                    <div class="row fileupload-buttonbar">
                                        <div class="span7" style="margin-left: 20px">
                                            <!-- The fileinput-button span is used to style the file input field as button -->
                <span class="btn btn-success fileinput-button">
                    <i class="icon-plus icon-white"></i>
                    <span>Add files</span>
                    <input type="file" name="files[]" multiple>
                </span>
                                            <button type="submit" class="btn btn-primary start">
                                                <i class="icon-upload icon-white"></i>
                                                <span>Start upload</span>
                                            </button>
                                            <button type="reset" class="btn btn-warning cancel">
                                                <i class="icon-ban-circle icon-white"></i>
                                                <span>Cancel upload</span>
                                            </button>
                                            <button type="button" class="btn btn-danger delete">
                                                <i class="icon-trash icon-white"></i>
                                                <span>Delete</span>
                                            </button>
                                            <input type="checkbox" class="toggle">
                                        </div>
                                        <!-- The global progress information -->
                                        <div class="span5 fileupload-progress fade">
                                            <!-- The global progress bar -->
                                            <div class="progress progress-success progress-striped active" role="progressbar" aria-valuemin="0" aria-valuemax="100">
                                                <div class="bar" style="width:0%;"></div>
                                            </div>
                                            <!-- The extended global progress information -->
                                            <div class="progress-extended">&nbsp;</div>
                                        </div>
                                    </div>
                                    <!-- The loading indicator is shown during file processing -->
                                    <div class="fileupload-loading"></div>
                                    <br>
                                    <!-- The table listing the files available for upload/download -->
                                    <table role="presentation" class="table table-striped"><tbody class="files" data-toggle="modal-gallery" data-target="#modal-gallery"></tbody></table>
                                </form>

                            </div>

                            <script id="template-upload" type="text/x-tmpl">
                                {% for (var i=0, file; file=o.files[i]; i++) { %}
                                <tr class="template-upload fade">
                                    <td class="preview"><span class="fade"></span></td>
                                    <td class="name"><span>{%=file.name%}</span></td>
                                    <td class="size"><span>{%=o.formatFileSize(file.size)%}</span></td>
                                    {% if (file.error) { %}
                                    <td class="error" colspan="2"><span class="label label-important">{%=locale.fileupload.error%}</span> {%=locale.fileupload.errors[file.error] || file.error%}</td>
                                    {% } else if (o.files.valid && !i) { %}
                                    <td>
                                        <div class="progress progress-success progress-striped active" role="progressbar" aria-valuemin="0" aria-valuemax="100" aria-valuenow="0"><div class="bar" style="width:0%;"></div></div>
                                    </td>
                                    <td class="start">{% if (!o.options.autoUpload) { %}
                                        <button class="btn btn-primary">
                                            <i class="icon-upload icon-white"></i>
                                            <span>{%=locale.fileupload.start%}</span>
                                        </button>
                                        {% } %}</td>
                                    {% } else { %}
                                    <td colspan="2"></td>
                                    {% } %}
                                    <td class="cancel">{% if (!i) { %}
                                        <button class="btn btn-warning">
                                            <i class="icon-ban-circle icon-white"></i>
                                            <span>{%=locale.fileupload.cancel%}</span>
                                        </button>
                                        {% } %}</td>
                                </tr>
                                {% } %}
                            </script>
                            <!-- The template to display files available for download -->
                            <script id="template-download" type="text/x-tmpl">
                                {% for (var i=0, file; file=o.files[i]; i++) { %}
                                <tr class="template-download fade">
                                    {% if (file.error) { %}
                                    <td></td>
                                    <td class="name"><span>{%=file.name%}</span></td>
                                    <td class="size"><span>{%=o.formatFileSize(file.size)%}</span></td>
                                    <td class="error" colspan="2"><span class="label label-important">{%=locale.fileupload.error%}</span> {%=locale.fileupload.errors[file.error] || file.error%}</td>
                                    {% } else { %}
                                    <td class="preview">{% if (file.thumbnail_url) { %}
                                        <a href="{%=file.url%}" title="{%=file.name%}" rel="gallery" download="{%=file.name%}"><img src="{%=file.thumbnail_url%}"></a>
                                        {% } %}</td>
                                    <td class="name">
                                        <a href="{%=file.url%}" title="{%=file.name%}" rel="{%=file.thumbnail_url&&'gallery'%}" download="{%=file.name%}">{%=file.name%}</a>
                                    </td>
                                    <td class="size"><span>{%=o.formatFileSize(file.size)%}</span></td>
                                    <td colspan="2"></td>
                                    {% } %}
                                    <td class="delete">
                                        <button class="btn btn-danger" data-type="{%=file.delete_type%}" data-url="{%=file.delete_url%}">
                                            <i class="icon-trash icon-white"></i>
                                            <span>{%=locale.fileupload.destroy%}</span>
                                        </button>
                                        <input type="checkbox" name="delete" value="1">
                                    </td>
                                </tr>
                                {% } %}
                            </script>
                        </div>
                    </div>
                </div>

            </div>


        </div>
    </div><!--/row-->



    <hr>


</div><!--/.fluid-container-->



<script src="../bootstrap/js/load-image.min.js"></script>
<script src="../bootstrap/js/bootstrap-image-gallery.min.js"></script>
<script src="../bootstrap/js/media.js"></script>

<script src="../resource/upload/js/jquery.ui.widget.js"></script>
<!-- The Templates plugin is included to render the upload/download listings -->
<script src="../resource/upload/js/tmpl.min.js"></script>
<!-- The Load Image plugin is included for the preview images and image resizing functionality -->

<!-- The Canvas to Blob plugin is included for image resizing functionality -->
<script src="../resource/upload/js/canvas-to-blob.min.js"></script>
<!-- Bootstrap JS and Bootstrap Image Gallery are not required, but included for the demo -->

<!-- The Iframe Transport is required for browsers without support for XHR file uploads -->
<script src="../resource/upload/js/jquery.iframe-transport.js"></script>
<!-- The basic File Upload plugin -->
<script src="../resource/upload/js/jquery.fileupload.js"></script>
<!-- The File Upload file processing plugin -->
<script src="../resource/upload/js/jquery.fileupload-fp.js"></script>
<!-- The File Upload user interface plugin -->
<script src="../resource/upload/js/jquery.fileupload-ui.js"></script>
<!-- The localization script -->
<script src="../resource/upload/js/locale.js"></script>
<!-- The main application script -->
<script src="../resource/upload/js/main.js"></script>

</body>
</html>
