<html xmlns="http://www.w3.org/1999/xhtml" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <!-- If you delete this meta tag, Half Life 3 will never be released. -->
    <meta name="viewport" content="width=device-width"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Translations by JLaso</title>
</head>
<body bgcolor="#FFFFFF"
      style="margin: 0;padding: 0;font-family: Helvetica Neue, Helvetica, Helvetica, Arial, sans-serif;-webkit-font-smoothing: antialiased;-webkit-text-size-adjust: none;width: 100% !important;height: 100%">

<!-- HEADER -->
<table class="head-wrap" bgcolor="#999999"
       style="width: 100%;margin: 0;padding: 0;font-family: Helvetica Neue, Helvetica, Helvetica, Arial, sans-serif">
    <tr style="margin: 0;padding: 0;font-family: Helvetica Neue, Helvetica, Helvetica, Arial, sans-serif">
        <td style="margin: 0;padding: 0;font-family: Helvetica Neue, Helvetica, Helvetica, Arial, sans-serif"></td>
        <td class="header container"
            style="margin: 0 auto !important;padding: 0;font-family: Helvetica Neue, Helvetica, Helvetica, Arial, sans-serif;display: block !important;max-width: 600px !important;clear: both !important">

            <div class="content"
                 style="margin: 0 auto;padding: 15px;font-family: Helvetica Neue, Helvetica, Helvetica, Arial, sans-serif;max-width: 600px;display: block">
                <table bgcolor="#999999"
                       style="margin: 0;padding: 0;font-family: Helvetica Neue, Helvetica, Helvetica, Arial, sans-serif;width: 100%">
                    <tr style="margin: 0;padding: 0;font-family: Helvetica Neue, Helvetica, Helvetica, Arial, sans-serif">
                        <td style="margin: 0;padding: 0;font-family: Helvetica Neue, Helvetica, Helvetica, Arial, sans-serif">
                            <img src="{{ asset('/logo-translations-white-email.png') }}"
                                 style="margin: 0;padding: 0;font-family: Helvetica Neue, Helvetica, Helvetica, Arial, sans-serif;max-width: 100%"/>
                        </td>
                        <td align="right"
                            style="margin: 0;padding: 0;font-family: Helvetica Neue, Helvetica, Helvetica, Arial, sans-serif">
                            <h6 class="collapse"
                                style="margin: 0 !important;padding: 0;font-family: HelveticaNeue-Light, Helvetica Neue Light, Helvetica Neue, Helvetica, Arial, Lucida Grande, sans-serif;line-height: 1.1;margin-bottom: 15px;color: #444;font-weight: 900;font-size: 14px">
                                tradukoj.com</h6></td>
                    </tr>
                </table>
            </div>

        </td>
        <td style="margin: 0;padding: 0;font-family: Helvetica Neue, Helvetica, Helvetica, Arial, sans-serif"></td>
    </tr>
</table>
<!-- /HEADER --><!-- BODY -->
<table class="body-wrap"
       style="margin: 0;padding: 0;font-family: Helvetica Neue, Helvetica, Helvetica, Arial, sans-serif;width: 100%">
    <tr style="margin: 0;padding: 0;font-family: Helvetica Neue, Helvetica, Helvetica, Arial, sans-serif">
        <td style="margin: 0;padding: 0;font-family: Helvetica Neue, Helvetica, Helvetica, Arial, sans-serif"></td>
        <td style="margin: 0;padding: 0;font-family: Helvetica Neue, Helvetica, Helvetica, Arial, sans-serif"></td>
        <td class="container" bgcolor="#FFFFFF"
            style="margin: 0 auto !important;padding: 0;font-family: Helvetica Neue, Helvetica, Helvetica, Arial, sans-serif;display: block !important;max-width: 600px !important;clear: both !important">

            <div class="content"
                 style="margin: 0 auto;padding: 15px;font-family: Helvetica Neue, Helvetica, Helvetica, Arial, sans-serif;max-width: 600px;display: block">
                <table style="margin: 0;padding: 0;font-family: Helvetica Neue, Helvetica, Helvetica, Arial, sans-serif;width: 100%">
                    <tr style="margin: 0;padding: 0;font-family: Helvetica Neue, Helvetica, Helvetica, Arial, sans-serif">
                        <td style="margin: 0;padding: 0;font-family: Helvetica Neue, Helvetica, Helvetica, Arial, sans-serif">
                            {% block content %}
                                <h3 style="margin: 0;padding: 0;font-family: HelveticaNeue-Light, Helvetica Neue Light, Helvetica Neue, Helvetica, Arial, Lucida Grande, sans-serif;line-height: 1.1;margin-bottom: 15px;color: #000;font-weight: 500;font-size: 27px">
                                    Hi, {{ user.email }}</h3>
                                <p class="lead"
                                   style="margin: 0;padding: 0;font-family: Helvetica Neue, Helvetica, Helvetica, Arial, sans-serif;margin-bottom: 10px;font-weight: normal;font-size: 17px;line-height: 1.6">
                                    Welcome to translations by JLaso for symfony2 projects
                                </p>
                                <p style="margin: 0;padding: 0;font-family: Helvetica Neue, Helvetica, Helvetica, Arial, sans-serif;margin-bottom: 10px;font-weight: normal;font-size: 14px;line-height: 1.6">
                                    We hope that this application meets your expectations.
                                    Please, feel free to send us inquiries and improvements.
                                </p>
                                <!-- Callout Panel -->
                                <p class="callout"
                                   style="margin: 0;padding: 15px;font-family: Helvetica Neue, Helvetica, Helvetica, Arial, sans-serif;background-color: #ECF8FF;margin-bottom: 15px;font-weight: normal;font-size: 14px;line-height: 1.6">
                                    Now, you can create a project and install TranslationsApiBundle to synchronize
                                    translations. <a href="https://bitbucket.org/jlaso/translations-apibundle"
                                                     style="margin: 0;padding: 0;font-family: Helvetica Neue, Helvetica, Helvetica, Arial, sans-serif;color: #2BA6CB;font-weight: bold">Here
                                        the bundle! »</a>
                                </p>
                                <!-- /Callout Panel -->
                            {% endblock content %}

                            <!-- social & contact -->
                            <table class="social" width="100%"
                                   style="margin: 0;padding: 0;font-family: Helvetica Neue, Helvetica, Helvetica, Arial, sans-serif;background-color: #ebebeb;width: 100%">
                                <tr style="margin: 0;padding: 0;font-family: Helvetica Neue, Helvetica, Helvetica, Arial, sans-serif">
                                    <td style="margin: 0;padding: 0;font-family: Helvetica Neue, Helvetica, Helvetica, Arial, sans-serif">

                                        <!-- column 1 -->
                                        <table align="left" class="column"
                                               style="margin: 0;padding: 0;font-family: Helvetica Neue, Helvetica, Helvetica, Arial, sans-serif;width: 280px;float: left;min-width: 279px">
                                            <tr style="margin: 0;padding: 0;font-family: Helvetica Neue, Helvetica, Helvetica, Arial, sans-serif">
                                                <td style="margin: 0;padding: 15px;font-family: Helvetica Neue, Helvetica, Helvetica, Arial, sans-serif">

                                                    <h5 class=""
                                                        style="margin: 0;padding: 0;font-family: HelveticaNeue-Light, Helvetica Neue Light, Helvetica Neue, Helvetica, Arial, Lucida Grande, sans-serif;line-height: 1.1;margin-bottom: 15px;color: #000;font-weight: 900;font-size: 17px">
                                                        Connect with Us:</h5>

                                                    <p class=""
                                                       style="margin: 0;padding: 0;font-family: Helvetica Neue, Helvetica, Helvetica, Arial, sans-serif;margin-bottom: 10px;font-weight: normal;font-size: 14px;line-height: 1.6">
                                                        <a href="#" class="soc-btn fb"
                                                           style="margin: 0;padding: 3px 7px;font-family: Helvetica Neue, Helvetica, Helvetica, Arial, sans-serif;color: #FFF;font-size: 12px;margin-bottom: 10px;text-decoration: none;font-weight: bold;display: block;text-align: center;background-color: #3B5998 !important">Facebook</a>
                                                        <a href="#" class="soc-btn tw"
                                                           style="margin: 0;padding: 3px 7px;font-family: Helvetica Neue, Helvetica, Helvetica, Arial, sans-serif;color: #FFF;font-size: 12px;margin-bottom: 10px;text-decoration: none;font-weight: bold;display: block;text-align: center;background-color: #1daced !important">Twitter</a>
                                                        <a href="#" class="soc-btn gp"
                                                           style="margin: 0;padding: 3px 7px;font-family: Helvetica Neue, Helvetica, Helvetica, Arial, sans-serif;color: #FFF;font-size: 12px;margin-bottom: 10px;text-decoration: none;font-weight: bold;display: block;text-align: center;background-color: #DB4A39 !important">Google+</a>
                                                    </p>


                                                </td>
                                            </tr>
                                        </table>
                                        <!-- /column 1 --><!-- column 2 -->
                                        <table align="left" class="column"
                                               style="margin: 0;padding: 0;font-family: Helvetica Neue, Helvetica, Helvetica, Arial, sans-serif;width: 280px;float: left;min-width: 279px">
                                            <tr style="margin: 0;padding: 0;font-family: Helvetica Neue, Helvetica, Helvetica, Arial, sans-serif">
                                                <td style="margin: 0;padding: 15px;font-family: Helvetica Neue, Helvetica, Helvetica, Arial, sans-serif">

                                                    <h5 class=""
                                                        style="margin: 0;padding: 0;font-family: HelveticaNeue-Light, Helvetica Neue Light, Helvetica Neue, Helvetica, Arial, Lucida Grande, sans-serif;line-height: 1.1;margin-bottom: 15px;color: #000;font-weight: 900;font-size: 17px">
                                                        Contact Info:</h5>

                                                    <p style="margin: 0;padding: 0;font-family: Helvetica Neue, Helvetica, Helvetica, Arial, sans-serif;margin-bottom: 10px;font-weight: normal;font-size: 14px;line-height: 1.6">
                                                        Email: <strong
                                                                style="margin: 0;padding: 0;font-family: Helvetica Neue, Helvetica, Helvetica, Arial, sans-serif">
                                                            <a href=""
                                                               style="margin: 0;padding: 0;font-family: Helvetica Neue, Helvetica, Helvetica, Arial, sans-serif;color: #2BA6CB">jlaso(@)joseluislaso.es</a>
                                                        </strong>
                                                    </p>

                                                </td>
                                            </tr>
                                        </table>
                                        <!-- /column 2 --><span class="clear"
                                                                style="margin: 0;padding: 0;font-family: Helvetica Neue, Helvetica, Helvetica, Arial, sans-serif;display: block;clear: both"></span>

                                    </td>
                                </tr>
                            </table>
                            <!-- /social & contact --></td>
                    </tr>
                </table>
            </div>
            <!-- /content -->

        </td>
    </tr>
</table>
<!-- /BODY --><!-- FOOTER -->
<table class="footer-wrap"
       style="margin: 0;padding: 0;font-family: Helvetica Neue, Helvetica, Helvetica, Arial, sans-serif;width: 100%;clear: both !important">
    <tr style="margin: 0;padding: 0;font-family: Helvetica Neue, Helvetica, Helvetica, Arial, sans-serif">
        <td style="margin: 0;padding: 0;font-family: Helvetica Neue, Helvetica, Helvetica, Arial, sans-serif"></td>
        <td class="container"
            style="margin: 0 auto !important;padding: 0;font-family: Helvetica Neue, Helvetica, Helvetica, Arial, sans-serif;display: block !important;max-width: 600px !important;clear: both !important">

            <!-- content -->
            <div class="content"
                 style="margin: 0 auto;padding: 15px;font-family: Helvetica Neue, Helvetica, Helvetica, Arial, sans-serif;max-width: 600px;display: block">
                <table style="margin: 0;padding: 0;font-family: Helvetica Neue, Helvetica, Helvetica, Arial, sans-serif;width: 100%">
                    <tr style="margin: 0;padding: 0;font-family: Helvetica Neue, Helvetica, Helvetica, Arial, sans-serif">
                        <td align="center"
                            style="margin: 0;padding: 0;font-family: Helvetica Neue, Helvetica, Helvetica, Arial, sans-serif">
                            <p style="margin: 0;padding: 0;font-family: Helvetica Neue, Helvetica, Helvetica, Arial, sans-serif;margin-bottom: 10px;font-weight: normal;font-size: 14px;line-height: 1.6">
                                <a href="#"
                                   style="margin: 0;padding: 0;font-family: Helvetica Neue, Helvetica, Helvetica, Arial, sans-serif;color: #2BA6CB">Terms</a>
                                |
                                <a href="#"
                                   style="margin: 0;padding: 0;font-family: Helvetica Neue, Helvetica, Helvetica, Arial, sans-serif;color: #2BA6CB">Privacy</a>
                                |
                                {#<a href="#" style="margin: 0;padding: 0;font-family: Helvetica Neue, Helvetica, Helvetica, Arial, sans-serif;color: #2BA6CB"><unsubscribe style="margin: 0;padding: 0;font-family: Helvetica Neue, Helvetica, Helvetica, Arial, sans-serif">Unsubscribe</unsubscribe></a>#}
                            </p>
                        </td>
                    </tr>
                </table>
            </div>
            <!-- /content -->

        </td>
        <td style="margin: 0;padding: 0;font-family: Helvetica Neue, Helvetica, Helvetica, Arial, sans-serif"></td>
    </tr>
</table>
<!-- /FOOTER --></body>
</html>
